body{
   text-align: center;
   background-color: antiquewhite;
}

.table{
margin-top: 5rem;
margin-bottom: 0px;
margin-left: auto;
margin-right: auto;
}
img{
   width: 40%;
} 

.last{
margin-top: 5rem;
}
.btn{
   margin-top: 2rem;
}